body {
  color: #4D4F5C !important;
}

.text-style {
  font-size: 10px;
}

.bg-color {
  background-color: rgba(255, 255, 255, 0.9) !important;
}

.bg-fixed {
  background-attachment: fixed;
  background-position: center center;
  background-size: cover;
}

.carousel-indicators {
  border-radius: 50px !important;
}

.bg-size {
  background-size: cover;
  background-position: center;
  display: block;
  width: 100vw;
  height: 80vh;
  object-fit: cover;
}

.text-hero {
  margin-bottom: 13rem;
}

.h1-style {
  font-size: 4rem;
  background-color: #8989897d;


}

.img-size {
  /* width: 100vw;
  height: 80vh; */
  object-fit: cover;
}

.bg-gray {
  background-color: #FAFAFA;
}

.product-top {
  margin-top: 5rem;
}

.bg-product-one {
  background-image: url("../../images/1.JPG");
  background-attachment: fixed;
  background-repeat: no-repeat;
  object-fit: cover;
  width: 100%;
  height: 70vh;
}

.text-custom {
  font-size: 5rem;
  top: 13rem;
}

.text-service {
  top: -3rem;
}

.service {
  background-color: #F4F4F4;
}

.logo-size {
  width: 20%;
}

.hero-row-top {
  top: 13rem;
  left: 33rem;

}

.border-style {
  border-radius: 7px;
}
.product_list .card {
  border-radius: 20px;
}
.product_list .border-img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.product_list .card:hover {
  transform: scale(1.2);
  transition: all 0.3s ease;
  background-color: #1F5474;

}
.product_list a {
  color: #4D4F5C !important;
}
.product_list a:hover {
  color: #ffffff !important;
}

.bg-product-1 {
  background-image: url("../../images/product_1.JPG");
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-product-1::before {
  background: -webkit-linear-gradient(rgba(39, 61, 100, 0), rgba(78, 122, 199, 0.5));
  /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(rgba(39, 61, 100, 0), rgba(78, 122, 199, 0.5));
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(rgba(39, 61, 100, 0), rgba(78, 122, 199, 0.5));
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(rgba(39, 61, 100, 0), rgba(78, 122, 199, 0.5));
  content: "";
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
}
.btn-warning {
  color: #4D4F5C;
}
.contact .icon-size {
  font-size: 100px;
}
.contact .icon-size-call {
  font-size: 15px;
}
.contact .text-info {
  color: #1F5474 !important;
}
.contact a {
  color: #4D4F5C;
}